<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extas/spring-security">

<head th:replace="fragments/header::head_style"></head>
<body>
    <div th:replace="fragments/header::navbar"></div>

    <div class="container">
        <div class="row py-2">
            <div class="col-12" sec:authorize="isAuthenticated()">
                <a class="btn btn-primary" th:href="@{/product_list/new}">Добавить список</a>
            </div>

            <div class="col-12">
                <table class="table table-hover my-2">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Название</th>
                        <th scope="col">Пользователь</th>
                        <th scope="col">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="list : ${productLists}">
                        <td scope="row" th:text="${list.id}"></td>
                        <td>
                            <a th:href="@{/list_products/{listId} (listId=${list.id})}">
                                <span th:text="${list.name}"></span>
                            </a>
                        </td>
                        <td>-</td>
                        <td>
                            <a class="btn btn-success" th:href="@{/product_list/{listId} (listId=${list.id})}"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-danger" th:href="@{/product_list/delete/{listId} (listId=${list.id})}"><i class="far fa-trash-alt"></i></a>
                            <a class="btn btn-light" th:href="@{/product_list/share/{listId} (listId=${list.id})}"><i class="fa fa-share-alt"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>