<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extas/spring-security">

<head th:replace="fragments/header::head_style"></head>
<body>
    <div th:replace="fragments/header::navbar"></div>

    <div class="container">
        <div class="row py-2">
            <div class="col-12">
                <a class="btn btn-primary" th:href="@{/list_products/{listId}/add_product (listId = ${list_id})}">Добавить продукт</a>
            </div>

            <div class="col-12">
                <table class="table table-hover my-2">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Название продукта</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Ед.изм.</th>
                        <th scope="col">Куплено</th>
                        <th scope="col">Действия</th>
                    </tr>
                    </thead>
                    <tr th:each="productProperty : ${listProducts}">
                        <td scope="row" th:text="${productProperty.id}"></td>
                        <td scope="row" th:text="${productProperty.product.name}"></td>
                        <td scope="row" th:text="${productProperty.quantity}"></td>
                        <td scope="row" th:text="${productProperty.units}"></td>
                        <td scope="row" th:text="${productProperty.state}"></td>

                        <td scopt="row">
                            <a class="btn btn-danger" th:href="@{/list_products/{listId}/delete/{productPropertyId} (listId=${list_id}, productPropertyId=${productProperty.id})}"><i class="far fa-trash-alt"></i></a>                </tr>
                        </td>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>