<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extas/spring-security">

<head th:replace="fragments/header::head_style"></head>
<body>
    <div th:replace="fragments/header::navbar"></div>

    <div class="container">
        <div class="row py-2">
            <div class="col-12">
                <a class="btn btn-primary" th:href="@{/}">Назад</a>
            </div>

            <div class="col-12">
                <form th:action="@{/product_list/share/{productListId} (productListId=${productList.id})}" method="post" th:object="${user}">
<!--                      th:object="${user}">-->
                    <div class="form-group">
                        <label>Пользователь</label>
                        <input type="text" class="form-control" th:field="${user.login}" placeholder="Введите логин пользователя">
                        <button type="submit" class="btn btn-primary">Поделиться</button>
                    </div>
                </form>
            </div>

            <div class="col-12">
                <table class="table table-hover my-2">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Пользователь</th>
                        <th scope="col">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${userList}">
                        <td scope="row" th:text="${user.id}"></td>
                        <td>
                            <span th:text="${user.name}"></span>
                        </td>
                        <td>
                            <a class="btn btn-danger" th:href="@{/product_list/share/{productListId}/delete/{userId} (productListId=${productList.id}, userId=${user.id})}"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>